<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Spring i Thymeleaf: lista pracowników</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
        
        <style>
            img.empPhoto {
                width: 300px;
            }
            .fired {
                color: firebrick;
            }
        </style>
    </head>
    <body>
        <div class="container-fluid" th:inline="text">
            <h1>Pan Prezes</h1>
            <p>
                <b>
                    <span th:text='|${boss.firstName} ${boss.lastName}|'>Imię Nazwisko</span>
                </b>
            </p>
            <img th:src="${boss.photoUrl}" class="empPhoto" 
                 src="http://via.placeholder.com/250x250"/>

            <h1>Pracownicy firmy</h1>

            <table class="table table-striped">
                <tr>
                    <th>Lp</th>
                    <th>Imię i nazwisko</th>
                    <th>Stanowisko</th>
                    <th>Pensja</th>
                    <th>Data zatrudnienia</th>
                    <th>Data zwolnienia</th>
                    <th>Umiejętności</th>
                    <th>Uwagi</th>
                    <th>Zdjęcie</th>
                </tr>
                <tr th:each = "employee,iterStat : ${employees}">
                    <p>
                    <!-- pozycja na liście -->
                    <td>
                        <p  th:unless = "${employee.dateOfTermination==null}" th:class = "fired"
                               th:text = "${iterStat.count}">pozycja</p>
                        <p  th:if = "${employee.dateOfTermination==null}" 
                               th:text = "${iterStat.count}">pozycja</p>
                    </td>
                    <!-- wypisanie 2 el w jednej lini -->
                    <td>
                        <p  th:unless = "${employee.dateOfTermination==null}" th:class = "fired" 
                               th:text = "|${employee.firstName} ${employee.lastName}|">imie nazwisko</p>
                        <p  th:if = "${employee.dateOfTermination==null}" 
                               th:text = "|${employee.firstName} ${employee.lastName}|">imie nazwisko</p>
                    </td>
                    <!-- stanowisko -->
                    <td>
                        <p  th:unless = "${employee.dateOfTermination==null}"  th:class = "fired"
                               th:text = "${employee.jobTitle}">stanowisko</p>
                        <p  th:if = "${employee.dateOfTermination==null}" 
                               th:text = "${employee.jobTitle}">stanowisko</p>
                    </td>
                    <!-- formatowanie wypłaty -->
                    <td>
                        <p  th:unless = "${employee.dateOfTermination==null}" th:class = "fired"
                               th:text="${#numbers.formatDecimal(employee.salary, 0, 'WHITESPACE', 2, 'POINT')}">salary</p>
                        <p  th:if = "${employee.dateOfTermination==null}" 
                               th:text="${#numbers.formatDecimal(employee.salary, 0, 'WHITESPACE', 2, 'POINT')}">salary</p>
                    </td>
                    <!-- formatowanie daty -->
                    <td>
                        <p  th:unless = "${employee.dateOfTermination==null}" th:class = "fired"
                               th:text = "${#calendars.format(employee.dateOfEmployment, 'dd.MM.yyyy')}">przyjecie</p>
                        <p  th:if = "${employee.dateOfTermination==null}" 
                               th:text = "${#calendars.format(employee.dateOfEmployment, 'dd.MM.yyyy')}">przyjęcie</p>
                    </td>
                    <!-- warunek gdy jest i gdy nie ma wartości -->
                    <td>
                        <p th:if = "${employee.dateOfTermination==null}"> Wciąż pracuje </p>
                        <p th:unless = "${employee.dateOfTermination==null}" th:class = "fired" 
                              th:text = "${#calendars.format(employee.dateOfTermination, 'dd.MM.yyyy')}">zwolnienie</p>
                    </td>
                    <!-- wypisanie w kolumnie listy wartości -->
                    <td>
                        <p th:each = "skill,iterStat : ${employee.skills}">
                            <p th:if = "${employee.dateOfTermination==null}"> 
                                <span th:if = "${iterStat.last==false}" 
                                      th:text = "|${skill.name} (${skill.level}),|"> Umiejętność (level)</span>
                                <span th:if = "${iterStat.last==true}"
                                      th:text = "|${skill.name} (${skill.level})|"> Umiejętność (level)</span>
                            </p>
                            <p th:unless = "${employee.dateOfTermination==null}" th:class = "fired">
                                <span th:if = "${iterStat.last==false}" 
                                      th:text = "|${skill.name} (${skill.level}),|"> Umiejętność (level)</span>
                                <span th:if = "${iterStat.last==true}"
                                      th:text = "|${skill.name} (${skill.level})|"> Umiejętność (level)</span>
                            </p>
                        </p>
                    </td>
                    <!-- wypisanie uwag -->
                    <td>
                        <p th:each = "comment : ${employee.comments}">
                            <p th:if = "${employee.dateOfTermination==null}">
                                <span th:text = "${comment}"> Uwagi</span>
                            </p>
                            <p th:unless = "${employee.dateOfTermination==null}" th:class = "fired">
                                <span th:text = "${comment}"> Uwagi</span>
                            </p>
                        </p>
                    </td>
                    <!-- zdjęcie -->
                    <td>
                        <img th:src="${employee.photoUrl}" class="empPhoto" src="http://via.placeholder.com/250x250"/>
                    </td>
                </p>
                </tr>
            </table>
        </div>
    </body>
</html>